body,
html{
	width: 100px;
	height: 100px;
	font-family: 'Montserrat',sans-serif;
	  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1
{
	font-size: 5rem;
	color: #e2dbdb;
}
hr
{
	border-color: #e2dbdb;
	max-width: 50px;
}
.buffer
{
	height: 5px;
}
.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}
.btn-xl {
	padding: 2rem 3rem;
}